.snackbar {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  background: green;
  color: white;
  padding: 10px;
  animation: slide-in 1s ease-out;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%) translateX(-50%);
  }
  to {
    transform: translateY(0) translateX(-50%);
  }
}
